<ion-header>
  <ion-navbar>
    <ion-title>content</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 
 
<ion-list>
  <ion-item *ngFor="let content of contentsRefSnapShot | async">
    <p (click)="tier1Selected(content.key)" ion-item class="mathjax" [innerHTML]="content.val().tier1Title">
      
      <!--<ion-item  class="mathjax" [innerHTML]="item.basic"></ion-item>-->
     
    </p>
  </ion-item>
</ion-list>

  

    
  

  
    <!--<ion-row *ngFor="let item of items | async">
      <ion-col class="mathjax" [innerHTML]="item.basic"></ion-col>
    </ion-row>-->
  
</ion-content>
